<!--ejemplo.ejs-->

<!DOCTYPE html>
<html>
<head>
    <!-- Configuraciones, Metadatos -->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/estilos-generales.css">
</head>
<body>
<p> Hola <%= nombre %> !</p>
<!-- CONTENIDO HTML -->
<!-- SCRIPTS -->
<script src="/js/logica-general.js"></script>
</body>
</html>


