<nav class="navbar navbar-expand-lg azul-oscuro align-bottom navbar-static-bottom">
    <a class="navbar-brand azul-oscuro" href="/login">
        <img src="recursos/logo.png" alt="logo" width="75" height="75">
    </a>
    <button class="navbar-toggler azul-oscuro" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon azul-oscuro"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <br>
                <p class="nav-link azul-oscuro tamanio-12" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expensive Games Store Corporation. Todos los derechos reservados. Todas las marcas registradas pertenecen a su respectivo dueño en Ecuador</p>
            </li>
        </ul>
    </div>
</nav>